@{
    ViewBag.Title = "Lê Vinh Huy";
}
<h2>@ViewBag.Title.</h2>
<h3>ASPNET Lesson10</h3>

<address>
    K22CNT1 - Môn lập trình web với công nghệ Asp.Net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:levinhhuy113@gmail.com">levinhhuy113@gmail.com</a><br />
    <strong>Cá Nhân:</strong> <a href="mailto:dotronghuy1@gmail.com">dotronghuy1@gmail.com</a>
</address>